* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

button {
    border-style: double;
}

div {
    display: flex;
}

body {
    margin: 0px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: aliceblue;
    margin: 0px;
}

p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background: black;
}

#header-conteiner {
    display: flex;
    background-color: black;
    padding: 0px 200px;
}

#logo-conteiner {
    flex: 1;
    align-items: center;
}

#icone-conteiner {
    padding-right: 6px;
}

#logo {
    height: 40px;
}

#nome-conteiner {
    color: aliceblue;
    font-weight: bold;
    font-size: 24px;
}

#menu-conteiner {}

.nav-item {
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding: 28px 16px;
}

a.nav-item:hover {
    color: #1ed760;

}

.secao-conteiner {
    flex-direction: column;
    padding: 50px 200px;
}

.secao-titulo {
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 20px 0px;
    padding-bottom: 50px;
}

#oferta {
    background-color: #1d75de;
    color: white;
}

#oferta-titulo {
    text-align: left;
    color: white;
    padding-bottom: 0px;
}

#oferta-botoes-conteiner {
    display: flex;

    padding: 30px 0px;
}

.botao-oferta {
    border-radius: 50px;
    width: 150px;
    padding: 14px;
}

#botao-comece-agora {
    border-color: black;
    color: white;
    background-color: black;
    margin-right: 10px;
}

#botao-ver-planos {
    border-color: white;
    color: white;
    background-color: #00000000;
}

#span-termos {
    color: aliceblue;
    font-size: 10px;
}

#beneficios {}

#beneficios-conteiner {
    flex-direction: column;
}

#beneficios-lista {
    display: flex;
    justify-content: space-between;
}

.beneficio {
    flex-direction: column;
    align-items: center;
}

.beneficio-image {
    width: 142px;
    height: 142px;
}

.beneficio-titulo {
    color: black;
    font-weight: bold;
    font-size: 21px;
}

.beneficio-desricao {
    color: black;
    font-size: 16px;
}

#planos {
    background-color: #efefef;
}

#planos-titulo {
    padding-bottom: 0px;
}

#planos-desc {
    color: black;
    text-align: center;
    margin: 10px;
}

#planos-lista {
    margin-top: 40px;
}

#planos-lista div:first-child {
    margin-left: 0px;
}

.plano-conteiner {
    flex-direction: column;
    background-color: white;
    color: black;
    margin-left: 20px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(255 255 255) 0px 0px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.plano-conteiner p {
    margin: 2px 0px;
}

#plano-escolha {
    color: black;
    text-align: center;
}

.plano-destaques-conteiner {
    flex-wrap: wrap;
}

.plano-destaque {
    padding: 4px 8px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #1d75de;
}

.plano-destaque-principal {
    background-color: #1d75de;
    color: white;
}

.plano-destaque-secundario {
    margin: 10px 0px;
    color: #1d75de;
}

.separador {
    height: 0.5px;
    background-color: black;
    margin-top: 12px;
}

.plano-tipo {
    font-weight: bold;
    font-size: 24px;
}

.plano-preco {
    font-size: 16px;
    font-weight: bold;
}

.plano-contas {
    font-size: 16px;
    font-weight: bold;
}

.plano-recurso {
    padding: 6px 0px;
}

.plano-recurso-icone {
    font-size: 20px;
    padding-top: 6px;
    margin-right: 12px;
}

.plano-acoes-container {
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    color: rgb(83, 83, 83);
}

.plano-acoes-container p {
    font-size: 12px;
}

.plano-acoes-container p>a {
    color: rgb(83, 83, 83);
}


.plano-acao {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 20px 0px;
    border-radius: 50px;
    padding: 14px;
    border-color: black;
    color: white;
    background-color: black;
}